<section class="section bg-purple" style="background: #48C7BC !important">
    <div class="container">
        <div class="row">
            <div class="col-md-6  col-md-offset-3 topindex">
            <h2 class="text-center"><strong>Baja del servicio</strong></h2>
            <h3 class="sub-title text-center" style="color: #FFF !important">Completa los siguientes datos.</h3><br>
                <form name="registro" id="registro" action="panel/sesion/verifica_baja.php" method="post">
                  <div class="input-group">
                      <input  type="email" name="mail" id="mail" placeholder="Email" class="form-control" />
                      <input  type="password" name="password" id="password" placeholder="Clave" class="form-control" />
                      <button class="form-control btn-danger" type="submit" >DARME DE BAJA</button>
                      <div>Te enviaremos un mail con las intrucciones a seguir para darte de baja de IMPRIMOYA!</div>
                  </div>	
                </form>	
            </div>
        </div>
    </div>
</section>