<section id="header-space"></section>

<section>
  <section id="headline" class="bg-transparent">
      <div class="container text-center">
        <h3><strong>Ayuda</strong></h3>
      </div>
  </section>
</section>	

<section class="section bg-gray-lighter bg-map" style="padding-bottom: 0">
    <div class="container" >
        <div class="row">
            <div class="col-md-6">
              <h3 class="animated fast" data-effect="fadeInDown"><strong>Cuenta con nosotros</strong></h3>
                    <hr>
              <p></p><h4 style="text-align: justify; line-height: 2">En Imprimoya.com respondemos a preguntas frecuentes hechas por nuestros usuarios y a todo tipo de dudas que tengas con respecto a los sistemas de impresión, colores, cortes, doble faz, terminaciones, etc.
Si no encuentras tu respuesta aquí, puedes ir a consultas donde responderemos a la brevedad tus inquietudes.</h4> 
            </div>
            <div class="col-md-6">
              <img src="assets/img/imgAyuda.png" />		
            </div>
        </div>
    </div>
</section>	
    
<div class="container" >
        <div class="row">
          <h3 style="margin: 15px 0"><strong>¿CÓMO IMPRIMO YA! MIS DOCUMENTOS?</strong></h3>	
          <div class="panel-group">
              <div class="panel panel-shadow">
                  <header class="panel-heading" style="padding:0 10px">
                  <a data-toggle="collapse" href="#collapse1"><i class="collapse-caret fa fa-angle-down"></i>&iquest;LOS COLORES SALEN IGUAL COMO SE VEN EN EL MONITOR?</a>
                  </header>
                  <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                    NO, nunca. Si est&aacute; bien configurado tu monitor entonces van a estar similares los colores, siempre y cuando tu .pdf haya sido armado con las condiciones &oacute;ptimas especificadas en &quot;consejos para una buena impresión&quot; y &quot;&iquest;C&oacute;mo pasar documentos a pdf?&quot;, tenemos que saber que los monitores manejan el sistema de color RGB y las impresoras el de CMYK, esto hace la diferencia en la percepci&oacute;n del color. 
                    </div>
                </div>
              </div>
              
                <div class="panel panel-shadow">
                  <header class="panel-heading" style="padding:0 10px">
                  <a data-toggle="collapse" href="#collapse2"><i class="collapse-caret fa fa-angle-down"></i>&iquest;PUEDE HABER VARIABLE DE TIPOGRAF&Iacute;A?</a>
                  </header>
                  <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                    NO, nunca. Si fue armado el pdf con las condiciones &oacute;ptimas especificadas en &quot;consejos para una buena impresi&oacute;n&quot; y &quot;&iquest;Como pasar documentos a pdf?” no deber&iacute;a tener ning&uacute;n problema.
                    </div>
                </div>
              </div>
              
              <div class="panel panel-shadow">
                  <header class="panel-heading" style="padding:0 10px">
                  <a data-toggle="collapse" href="#collapse3"><i class="collapse-caret fa fa-angle-down"></i>&iquest;EL DOBLE FAZ ES EXACTO?</a>
                  </header>
                  <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                    No, nunca. Siempre hay desfasaje entre el frente y el dorso.
                    </div>
                </div>
              </div>
              
              <div class="panel panel-shadow">
                  <header class="panel-heading" style="padding:0 10px">
                  <a data-toggle="collapse" href="#collapse4"><i class="collapse-caret fa fa-angle-down"></i>&iquest;ES NORMAL QUE LOS PLENOS TENGAN IMPERFECCIONES?</a>
                  </header>
                  <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                    S&iacute;, es posible. Aunque depende de la calidad del centro gráfico elegido, este problema puede llegar a ser imperceptible.
                    </div>
                </div>
              </div>
              
              <div class="panel panel-shadow">
                  <header class="panel-heading" style="padding:0 10px">
                  <a data-toggle="collapse" href="#collapse5">
                    <i class="collapse-caret fa fa-angle-down"></i>
                    &iquest;UNA VEZ ENVIADO EL ARCHIVO SE IMPRIME DIRECTO, SIN INTERMEDIARIOS?
                  </a>
                  </header>
                  <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">
                    S&iacute;, pero no siempre. Esto significa que si la copiadora tiene cargado las cualidades solicitadas, la impresi&oacute;n se realiza directamente sin intermediarios, ahora si se pide por ej. un papel el cual tiene que ser asistido, esto llevar&aacute; a una peque&ntilde;a demora.
                    </div>
                </div>
              </div>
              
              <div class="panel panel-shadow">
                  <header class="panel-heading" style="padding:0 10px">
                  <a data-toggle="collapse" href="#collapse6">
                    <i class="collapse-caret fa fa-angle-down"></i>
                    &iquest;HAY UN TIEMPO M&Aacute;XIMO EN LA ENTREGA DE LA IMPRESI&Oacute;N?
                  </a>
                  </header>
                  <div id="collapse6" class="panel-collapse collapse">
                    <div class="panel-body">
                    No, no hay. El sistema est&aacute; preparado para que la impresi&oacute;n en el mejor de los casos se realice inmediatamente, pero pueden surgir inconvenientes externos como por ej. corte de electricidad, desperfectos t&eacute;cnicos, acumulaci&oacute;n de trabajos, etc. Todas las impresoras tienen un tiempo natural de trabajo y dependemos de ella.
                    </div>
                </div>
              </div>
              
              <div class="panel panel-shadow">
                  <header class="panel-heading" style="padding:0 10px">
                  <a data-toggle="collapse" href="#collapse7">
                    <i class="collapse-caret fa fa-angle-down"></i>
                    &iquest;PUEDO EXIGIR LA ENTREGA INMEDIATA DE MI TRABAJO?
                  </a>
                  </header>
                  <div id="collapse7" class="panel-collapse collapse">
                    <div class="panel-body">
                    No, no podemos, tenemos que comprender que las m&aacute;quinas tienen tiempos que son invulnerables, tambi&eacute;n depende de la cola de impresi&oacute;n en el momento de enviado tu .pdf., tal vez otro usuario lo haya enviado antes que tí y debemos respetar los turnos. 
                    </div>
                </div>
              </div>
              
              <div class="panel panel-shadow">
                  <header class="panel-heading" style="padding:0 10px">
                  <a data-toggle="collapse" href="#collapse8">
                    <i class="collapse-caret fa fa-angle-down"></i>
                    &iquest;LOS CENTROS GR&Aacute;FICOS SE COMPROMETEN A IMPRIMIR MI .PDF EN FORMA Y TIEMPO?
                  </a>
                  </header>
                  <div id="collapse8" class="panel-collapse collapse">
                    <div class="panel-body">
                    S&iacute;, est&aacute; el compromiso al registrarse en imprimoya. En caso contrario podr&aacute;s calificar el servicio ofrecido. 
                    </div>
                </div>
              </div>
              
              <div class="panel panel-shadow">
                  <header class="panel-heading" style="padding:0 10px">
                  <a data-toggle="collapse" href="#collapse9">
                    <i class="collapse-caret fa fa-angle-down"></i>
                    &iquest;C&Oacute;MO PUEDO IDENTIFICAR LOS PAPELES OFRECIDOS?
                  </a>
                  </header>
                  <div id="collapse9" class="panel-collapse collapse">
                    <div class="panel-body">
                    Contamos con: papel obra: es un papel común de 75/90 grs. que se usa masivamente. (clasico fotocopia b/n) Papel Ilustraci&oacute;n: es el de las revistas, brillante o matte (opaco), var&iacute;a de 130/300 grs. y se utiliza en la cualidad de color para hacer lucir la calidad de impresión. Papel opalina: se utiliza para tarjetas, postales, carpetas, es de 240/300 grs.
                    </div>
                </div>
              </div>
              
                <div class="panel panel-shadow">
                  <header class="panel-heading" style="padding:0 10px">
                  <a data-toggle="collapse" href="#collapse10">
                    <i class="collapse-caret fa fa-angle-down"></i>
                    &iquest;LOS CENTROS GR&Aacute;FICOS REVISAN MI .PDF?
                  </a>
                  </header>
                  <div id="collapse10" class="panel-collapse collapse">
                    <div class="panel-body">
                    No, nunca. Se imprime sin saber qu&eacute; es, por eso los centros gr&aacute;ficos no se responsabilizan de errores de tipeo, im&aacute;genes, colores, etc.
                    </div>
                </div>
              </div>
              
              <div class="panel panel-shadow">
                  <header class="panel-heading" style="padding:0 10px">
                  <a data-toggle="collapse" href="#collapse11">
                    <i class="collapse-caret fa fa-angle-down"></i>
                    &iquest;HACEN ENV&Iacute;OS?
                  </a>
                  </header>
                  <div id="collapse11" class="panel-collapse collapse">
                    <div class="panel-body">
                    Es posible, depende del servicio ofrecido del centro gr&aacute;fico.
                    </div>
                </div>
              </div>
              
                <div class="panel panel-shadow">
                  <header class="panel-heading" style="padding:0 10px">
                  <a data-toggle="collapse" href="#collapse12">
                    <i class="collapse-caret fa fa-angle-down"></i>
                    &iquest;PUEDO ENVIAR MI .PDF A CUALQUIER HORARIO?
                  </a>
                  </header>
                  <div id="collapse12" class="panel-collapse collapse">
                    <div class="panel-body">
                    S&iacute;, se puede. Hay que ver el servicio ofrecido por el centro gr&aacute;fico, se entrega el trabajo dentro del horario de atenci&oacute;n. 
                    </div>
                </div>
              </div>
              
              <div class="panel panel-shadow">
                  <header class="panel-heading" style="padding:0 10px">
                  <a data-toggle="collapse" href="#collapse13">
                    <i class="collapse-caret fa fa-angle-down"></i>
                    &iquest;EST&Aacute;N ABIERTO LAS 24 HS. LOS CENTROS GR&Aacute;FICOS?
                  </a>
                  </header>
                  <div id="collapse13" class="panel-collapse collapse">
                    <div class="panel-body">
                    Depende exclusivamente del servicio ofrecido del centro gr&aacute;fico.
                    </div>
                </div>
              </div>
              
              <div class="panel panel-shadow">
                  <header class="panel-heading" style="padding:0 10px">
                  <a data-toggle="collapse" href="#collapse14">
                    <i class="collapse-caret fa fa-angle-down"></i>
                    &iquest;PUEDO RECLAMAR A IMPRIMOYA POR LA CALIDAD DE LA IMPRESI&Oacute;N?
                  </a>
                  </header>
                  <div id="collapse14" class="panel-collapse collapse">
                    <div class="panel-body">
                    No, nunca. Los reclamos con respecto a la calidad de impresi&oacute;n se resuelve con el centro gr&aacute;fico elegido por el usuario.
                    </div>
                </div>
              </div>
              
              <div class="panel panel-shadow">
                  <header class="panel-heading" style="padding:0 10px">
                  <a data-toggle="collapse" href="#collapse15">
                    <i class="collapse-caret fa fa-angle-down"></i>
                    &iquest;SE PUEDE PARAR LA IMPRESI&Oacute;N ENVIADA A IMPRIMOYA?
                  </a>
                  </header>
                  <div id="collapse15" class="panel-collapse collapse">
                    <div class="panel-body">
                    No, el sistema está dise&ntilde;ado para imprimir directamente, los centros gr&aacute;ficos apenas reciben el trabajo tienen el compromiso de realizarlo.
                    </div>
                </div>
              </div>
              
              <div class="panel panel-shadow">
                  <header class="panel-heading" style="padding:0 10px">
                  <a data-toggle="collapse" href="#collapse16">
                    <i class="collapse-caret fa fa-angle-down"></i>
                    &iquest;PUEDO QUEJARME A IMPRIMOYA POR EL SERVICIO DE ALG&Uacute;N CENTRO GR&Aacute;FICO
                  </a>
                  </header>
                  <div id="collapse16" class="panel-collapse collapse">
                    <div class="panel-body">
                    S&iacute;, puedes. Imprimoya evaluar&aacute; el reclamo y tomar&aacute; medidas para mejorar el sistema de impresi&oacute;n online.
                    </div>
                </div>
              </div>
              
              <div class="panel panel-shadow">
                  <header class="panel-heading" style="padding:0 10px">
                  <a data-toggle="collapse" href="#collapse17">
                    <i class="collapse-caret fa fa-angle-down"></i>
                    &iquest;SE PUEDE CALIFICAR A LOS CENTROS GR&Aacute;FICOS?
                  </a>
                  </header>
                  <div id="collapse17" class="panel-collapse collapse">
                    <div class="panel-body">
                    S&iacute;, se puede. Por favor te pedimos que lo califiques y es muy importante ser lo m&aacute;s objetivo posible, tenemos que tener en cuenta que el oficio de impresi&oacute;n es muy complejo y la voluntad de los centros gr&aacute;ficos siempre a punta a la impresi&oacute;n &oacute;ptima.
                    </div>
                </div>
              </div>
              
              <div class="panel panel-shadow">
                  <header class="panel-heading" style="padding:0 10px">
                  <a data-toggle="collapse" href="#collapse18">
                    <i class="collapse-caret fa fa-angle-down"></i>
                    &iquest;QUI&Eacute;N TIENE QUE DARME MI FACTURA?
                  </a>
                  </header>
                  <div id="collapse18" class="panel-collapse collapse">
                    <div class="panel-body">
                    La facturaci&oacute;n del valor total del trabajo, es obligaci&oacute;n del centro gr&aacute;fico.
                    </div>
                </div>
              </div>
              
              
              
          </div>

          
        </div>
    </div>
		
	
<!--
////////////////////////////////////////////////////////////////////////
//////////     JAVASCRIPT  LIBRARY     //////////
/////////////////////////////////////////////////////////////////////
-->
		
<!-- Jquery Library -->
<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.ui.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/bootstrap.min.js"></script>
<!-- Modernizr Library For HTML5 And CSS3 -->
<script type="text/javascript" src="assets/js/modernizr/modernizr.js"></script>
<!-- Owl Carousel  -->
<script type="text/javascript" src="assets/plugins/owl-carousel/owl.carousel.js"></script>
<!-- Revolution Slide -->
<script type="text/javascript" src="assets/plugins/slide/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="assets/plugins/slide/js/jquery.themepunch.revolution.min.js"></script>
<!-- Select Nav -->
<script type="text/javascript" src="assets/plugins/selectnav/selectnav.min.js"></script>
<!-- Fancybox plugin -->
<script type="text/javascript" src="assets/plugins/fancybox/jquery.fancybox.js"></script>
<!-- Library Themes Customize-->
<script type="text/javascript" src="assets/js/caplet.custom.js"></script>