<!--
<section id="header-space"></section>
-->
<section>
  <section id="headline" class="bg-transparent">
      <div class="container text-center">
        <h3><strong>LEGALES</strong></h3>
      </div>
  </section>
</section>	
<section class="section bg-gray-lighter bg-map" style="padding-bottom: 0">
    <div class="container" >
        <div class="row">
            <div class="col-md-6">
              
                <title><h3 class="animated fast" data-effect="fadeInDown"><strong>Terminos y condiciones</strong></h3></title>
                    <hr>
              <p></p>
              <h4 style="text-align: justify; line-height: 2">En Imprimoya.com respondemos a preguntas frecuentes hechas por nuestros usuarios y a todo tipo de dudas que tengas con respecto a los sistemas de impresión, colores, cortes, doble faz, terminaciones, etc.
Si no encuentras tu respuesta aquí, puedes ir a consultas donde responderemos a la brevedad tus inquietudes.</h4>
            </div>
            <div class="col-md-6">
              <img src="assets/img/imgAyuda.png" />		
            </div>
        </div>
    </div>
</section>	

     <!--comienzo de seccion legales-->

     <div class="container" >
  <div class="row">
      <h3 style=" margin: 0 auto; text-align:center;"><strong>LEGALES USUARIOS/EMPRESAS.</strong></h3>
      <h2 style=" margin: 0 auto; text-align:center;">Condiciones Legales
      </h2>
      <br/>
   <div class="panel panel-shadow">
                  <header class="panel-heading" style="padding:0 10px">
                  <a data-toggle="collapse" href="#collapse13">
                    <i class="collapse-caret fa fa-angle-down"></i>
                    INDICE
                  </a>
                  </header>
                  <div id="collapse13" class="panel-collapse collapse">
                    <div class="panel-body">
                    
      1.    INFORMACIÓN LEGAL<br>
      2.    CONDICIONES GENERALES DE USO <br>
      2.1.    Objeto<br>
      2.2.    Obligaciones de los Usuarios en el Sitio <br/>
      2.3.    Archivos facilitados por los usuarios de IMPRIMOYA<br />
      2.4.    Exclusión de garantías y responsabilidad<br />
      2.5.    Alcance de los servicios<br />
      2.6.    Legislación Aplicable y Jurisdicción<br />
    
      3.    CONDICIONES GENERALES DE USO DEL SERVICIO  DE FORO<br />
      La  utilización del servicio deberá venir condicionada por la<br />
      previa  aceptación de las Condiciones Generales de Uso del<br />
      Servicio  de Foro que se recogen en las Condiciones Legales de<br />
      IMPRIMOYA.<br />
      3.1.    Condiciones generales de uso del servicio  de Foros y su aceptación<br />
      3.2.    Objeto y Descripción del Servicio<br />
      3.3.    Acceso al Servicio de Foro<br />
      3.4.    Obligaciones de los Usuarios<br />
      3.5.    Exención de responsabilidad<br />
      3.6.    Datos de carácter personal<br />
      3.7.    Medidas de Seguridad<br />
      3.8.    No licencia<br />
      3.9.    Notificaciones<br />
      3.10.  Legislación aplicable
    <p></p>4.   INCLUSION DE BANNERS Y MICROSITIOS <br />
      4.1.  Objeto<u> </u><br />
      4.2.  Ejemplos de contenidos o links inaceptables  para los banners o sitios destino de sus links: <br />
      4.3.  Campañas sobre&nbsp;política o causas  apolíticas<br />
      4.4.  Exención de responsabilidades 
    <p></p>5.    DERECHOS DE PROPIEDAD INTELECTUAL E  INDUSTRIAL
    <p></p>6.    POLÍTICA DE PROTECCIÓN DE DATOS<br />
      6.1.    Derecho de información<br />
      6.2.    Finalidad<br />
      6.3.    Carácter obligatorio o facultativo de la  información facilitada por el usuario y veracidad de los datos<br />
      6.4.    Consentimiento del Usuario<br />
      6.5.    Datos facilitados por menores de edad<br />
      6.6.    Seguridad<br />
      6.7.    Derecho de Acceso, Rectificación y  Cancelación de Datos<br />
      6.8.    Modificación de la presente Política de  Protección de Datos<br />
      6.9.     Inactividad en el ejercicio de  derechos <br />
      6.10.  Legislación Aplicable
    <p></p><strong><u>CONDICIONES LEGALES</u></strong>
    <p></p><strong>1.    INFORMACIÓN LEGAL</strong><br />
      <a href="http://www.imprimoya.com">www.imprimoya.com</a><br />
      Titular  del sitio web: Luis Javier Rivera Monje <br />
      Franklin  1102  5ª B<br />
      C1405DEP<br />
      Ciudad  Autónoma de Buenos Aires<br />
      Argentina <br />
      Mail: <a href="mailto:info@imprimoya.com">info@imprimoya.com</a>
   
                    </div>
                </div>
              </div>
       
     <div class="panel panel-shadow">
                  <header class="panel-heading" style="padding:0 10px">
                  <a data-toggle="collapse" href="#collapse2"><i class="collapse-caret fa fa-angle-down"></i>CONDICIONES GENERALES DE USO</a>
                  </header>
                  <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
         
      El acceso y/o uso del Sitio IMPRIMOYA  requiere que todos los visitantes al mismo se  adhieran a los Términos y Condiciones, aceptándolos, desde ese momento,  plenamente y sin reserva alguna, así como en su caso, las Condiciones  Particulares que en el futuro puedan complementarlas, sustituirlas o  modificarlas en algún sentido en relación con los servicios y contenidos del  Portal. Por el solo hecho de ingresar y hacer uso de este Sitio, usted (el  &quot;Usuario&quot;) se adhiere en forma inmediata a todos y cada uno de los  siguientes Términos y Condiciones. En consecuencia, el Usuario deberá leer  detenidamente los Términos y Condiciones así como las Condiciones Particulares,  que pudieran dictarse, antes de acceder y/o utilizar cualquier servicio del Sitio  bajo su entera responsabilidad. <br />
      El  Usuario puede acceder, imprimir, descargar y guardar las Condiciones Generales  de Uso en todo momento. Estas Condiciones estarán permanentemente accesibles en  el Sitio Web a través del enlace &ldquo;Condiciones General de Uso&rdquo;. <br />
      IMPRIMOYA  se reserva la posibilidad de modificar sin previo aviso, el diseño,  presentación y/o configuración de este Sitio Web, así como algunos o todos los  servicios, y añadir servicios nuevos.<br />
      En  cualquier caso, IMPRIMOYA se reserva el derecho de, en cualquier momento y sin  necesidad de previo aviso, denegar el acceso a este sitio a aquellos usuarios  que incumplan cualesquiera de estas condiciones generales o de las particulares  que les sean de aplicación.
    <p></p><u>2.1.    Objeto</u><br />
      Las  presentes Condiciones Generales de Uso regulan el acceso y el uso del Sitio <a href="http://www.IMPRIMOYA.com">www.IMPRIMOYA.com</a><br />
      La  finalidad de este Sitio es la de crear un espacio donde los Usuarios puedan  acceder a diferentes servicios de impresión y copiado.<br />
      Los  servicios puestos a disposición de los Usuarios en el sitio de IMPRIMOYA solo están  disponibles para las personas que tengan capacidad legal para contratar. <br />
      Al  Usuario que se registra a través del formulario del sitio web, se le ofrecen  los siguientes servicios:
    <ul>
      <li>Fotocopia  en color, escala de grises, blanco y negro. (complementario a servicio de  fotocopiado)  </li>
      <li>Impresiones  en color, escala de grises y blanco y negro. (complementario a servicio de  fotocopiado)</li>
      <li>Ploteo  de planos en blanco/negro y color (complementario a servicio de fotocopiado) </li>
      <li>Ploteos  de banners. (complementario a servicio de fotocopiado)</li>
      <li>Ploteo  de Gigantografías en diversos materiales. (complementario a servicio de  fotocopiado)</li>
      <li>Tarjetas  personales. (complementario a servicio de fotocopiado)</li>
      <li>Postales.  (complementario a servicio de fotocopiado)</li>
      <li>Díptico,  tríptico, folletos. (complementario a servicio de fotocopiado)</li>
      <li>Encuadernaciones  de todo tipo (complementario a servicio de fotocopiado) </li>
      <li>Emblockados.  (complementario a servicio de fotocopiado)</li>
      <li>Artículos  de librería. (complementario a servicio de fotocopiado)</li>
      <li>Servicio  de entrega a domicilio. (complementario a servicio de fotocopiado)</li>
    </ul>
    <p></p>IMPRIMOYA  sólo facilitará a los demás Usuarios los datos y/o información proporcionados  por el Usuario cuando estos datos y/o información no vulneren disposiciones  legales o las presentes Condiciones Generales de Uso.<br />
      IMPRIMOYA  podrá eliminar del Sitio Web contenidos ilegales sin previo aviso.<br />
      El  Usuario reconoce que técnicamente no es posible lograr disponibilidad del Sitio  Web <a href="http://www.IMPRIMOYA.com">www.IMPRIMOYA.com</a><br />
      al  100 %. Sin embargo, IMPRIMOYA se esforzará por mantener disponible el Sitio Web  de la forma más constante posible. Especialmente por razones de mantenimiento,  seguridad o capacidad, así como a causa de acontecimientos sobre los que no  puede influir IMPRIMOYA (por ejemplo anomalías de redes públicas de  comunicación, cortes de electricidad, etc.) pueden producirse breves anomalías  o la suspensión pasajera de los servicios del Sitio Web.
    <p></p><u>2.2.    Obligaciones de los Usuarios </u><br />
      El  Usuario se compromete a hacer un uso diligente del mismo y de los servicios  accesibles desde este Sitio Web, con total sujeción a la Ley, a las buenas costumbres y  a las presentes Condiciones Generales de Uso y, en su caso, condiciones  particulares, así como manteniendo el debido respeto a los demás usuarios.<br />
      La  prestación de los servicios  exige la  previa suscripción o registro de los Usuarios, seleccionando el usuario y la  contraseña que el usuario se compromete a conservar y a usar con la diligencia  debida.<br />
      El  uso de la contraseña es personal e intransferible, no estando permitida la cesión,  ni siquiera temporal, a terceros. En tal sentido, el Usuario deberá adoptar las  medidas necesarias para la custodia de la contraseña por él seleccionada,  evitando el uso de la misma por terceros. En consecuencia, el Usuario es el  único responsable de la utilización que, de su contraseña se realice, con  completa indemnidad para IMPRIMOYA. En el supuesto de que el Usuario conozca o  sospeche del uso de su contraseña por terceros deberá poner tal circunstancia  en conocimiento de IMPRIMOYA con la mayor brevedad. <br />
      El  citado registro se efectuará en la forma expresamente indicada en el propio  servicio.<br />
      Toda  la información que proporcione el Usuario a través de los servicios deberá ser  veraz y exacta. A estos efectos, el Usuario responde por la autenticidad de  todos aquellos datos que informe como resultado de la cumplimentación de los  formularios necesarios para la suscripción de los Servicios.<br />
      De  igual forma, será responsabilidad del Usuario mantener toda la información proporcionada  a IMPRIMOYA permanentemente actualizada de forma que responda, en cada instante  a la situación real del Usuario. En todo caso el Usuario será el único responsable  de las declaraciones falsas o inexactas que efectúe y de los perjuicios que  cause a IMPRIMOYA o a terceros por la información que facilite.<br />
      El  Usuario se obliga a respetar las leyes aplicables y los derechos de terceros al  utilizar los contenidos y servicios del Sitio Web. Asimismo queda prohibida la  reproducción, distribución, transmisión, adaptación o modificación, por  cualquier medio y en cualquier forma, de los contenidos del Sitio Web (textos,  diseños, gráficos, informaciones, bases de datos, archivos de sonido y/o  imagen, logos, etc.) y demás elementos de este Sitio Web, salvo autorización  previa de sus legítimos titulares o cuando así resulte permitido por la ley.<br />
      En  especial al usuario le estará prohibido: utilizar contenidos injuriosos o  calumniosos, con independencia de que esos contenidos afecten a otros usuarios  o a otras personas o empresas, utilizar contenidos pornográficos o que vulneren  las leyes de protección de menores, o hacer publicidad, ofrecer o distribuir  productos pornográficos o que vulneren las leyes de protección de menores,  molestar a otros usuarios (especialmente mediante spam),utilizar contenidos  protegidos legalmente (p. ej. por la legislación relativa a la propiedad  intelectual, a marcas, a patentes, a modelos de utilidad o a modelos estéticos)  sin tener derecho a ello, o hacer publicidad, ofrecer o distribuir bienes o  servicios protegidos legalmente, así como realizar o fomentar acciones  contrarias a la libre competencia, incluidas las encaminadas a la captación de  clientes progresiva (como sistemas en cadena, de bola de nieve o piramidales).<br />
      Se  prohíbe al Usuario las siguientes acciones:<br />
      •    Utilizar mecanismos, software o scripts en  relación con la utilización del Sitio Web.<br />
      •   Bloquear, sobrescribir, modificar o copiar,  a no ser que ello sea necesario para la correcta utilización de los servicios  de los sitios web. Por ejemplo, el copiado mediante tecnologías de buscador  tipo &ldquo;Robot/Crawel&rdquo; no es necesario para la correcta utilización de los  servicios del Sitio Web, por lo que está prohibido expresamente.<br />
      •    Difundir y reproducir públicamente  contenidos del Sitio Web de IMPRIMOYA o de otros usuarios, sin la autorización  previa.<br />
      •    Toda acción apta para perjudicar la  funcionalidad de la infraestructura de IMPRIMOYA, especialmente para  sobrecargarla. <br />
      •   Utilizar cualquiera de los materiales e  informaciones contenidos en este Sitio Web con fines ilícitos y expresamente  prohibidos en las presentes Condiciones Generales de Uso, así como en las  condiciones particulares que, en su caso se habiliten, que resulten contrarios  a los derechos e intereses de IMPRIMOYA, sus miembros y/o terceros, y deberá  responder frente a los mismos en caso de contravenir o incumplir dichas  obligaciones y/o que, de cualquier modo (incluida la introducción o difusión de  &ldquo;virus informáticos&rdquo;), dañe, inutilice, sobrecargue, deteriore o impida la  normal utilización de los materiales e informaciones contenidos en el Sitio  Web, los sistemas de información o los documentos, archivos y toda clase de  contenidos almacenados en cualquier equipo informático (hacking) de IMPRIMOYA,  de sus miembros o de cualquier usuario. <br />
      El  Usuario es consciente de, y acepta voluntariamente, que el uso del servicio  tiene lugar, en todo caso, bajo su única y exclusiva responsabilidad.<br />
      El  Usuario responderá de los daños y perjuicios de toda naturaleza que IMPRIMOYA  pueda sufrir como consecuencia del  incumplimiento de cualquiera de las obligaciones a las que queda sometido en virtud  de estas &ldquo;Condiciones Generales de Uso&rdquo; o de la ley en relación con la Utilización del  Servicio. <br />
      Cumplimentado  el proceso de registro, el Usuario tendrá acceso a los servicios listados en el  punto 2.1 de las presentes Condiciones Generales de Uso. 
    <p></p><u>2.3.    Archivos facilitados por los usuarios de IMPRIMOYA</u><br />
      El  Usuario deberá cumplir todos los requisitos establecidos en la pagina en cuanto  a la calidad, formato, tamaño y características de los archivos que se  encuentran permitidos para enviar a los diferentes centros de copiado. <br />
      IMPRIMOYA  no permite la inserción de contenidos que deterioren la calidad del servicio.  Está prohibida la inserción de contenidos que:<br />
      •  Que sean presuntamente ilícitos por la normativa nacional, comunitaria o  internacional o que realicen actividades presuntamente ilícitas o contravengan  los principios de la buena fe.<br />
      •  Que no reúnan los parámetros de calidad  establecidos en IMPRIMOYA.<br />
      •  Que atenten contra los derechos fundamentales  de las personas, puedan buscar la debilidad del usuario, falten a la cortesía  en la red, molesten o puedan generar opiniones negativas en nuestros usuarios o  terceros. En concreto, y a modo enunciativo pero no limitativo: cualesquiera de  los derechos legales de terceros; aquellos que favorezcan o potencien la  creación, mantenimiento y fomento de negocios relacionados con la pornografía,  material obsceno o gestión de contactos eróticos; o cualquier otro contenido  relacionado; y en general cualesquiera contenidos que IMPRIMOYA considere no  apropiados para los usuarios y, en especial, para los menores de edad.<br />
      •    Y en general que contravengan los  principios de legalidad, honradez, responsabilidad, protección de la dignidad  humana, protección de menores, protección del orden público, la protección de  la vida privada, la protección del consumidor y los derechos de propiedad  intelectual e industrial.<br />
      Asimismo,  IMPRIMOYA se reserva la potestad de retirar del sitio web aquellos archivos que  se consideren no apropiados a las características y finalidades del Sitio.<br />
      IMPRIMOYA  no puede controlar todos y cada uno de los contenidos publicados, de manera que  no puede asumir la responsabilidad sobre los contenidos. <br />
      De  todas maneras, periódicamente se revisan los contenidos insertados y publicados  para asegurar los principios de calidad de IMPRIMOYA así como las normas aquí  indicadas. <br />
      Si  advierte algún contenido inapropiado en el sitio web, por favor contacte con  nosotros a través de nuestro servicio de Atención al usuario: <a href="mailto:info@IMPRIMOYA.com">info@IMPRIMOYA.com</a>  <strong> </strong><br />
      Los  Usuarios son los únicos responsables de obtener cualquier tipo de autorización,  permiso o licencia, en caso de ser necesarios para la realización y publicación  de cualquier contenido.<br />
      Cualquier  Usuario que inserte un contenido que contravenga la legalidad vigente asumirá  la responsabilidad exclusiva de los perjuicios y consecuencias derivadas de la  misma, eximiendo a IMPRIMOYA de cualquier responsabilidad.
    <p></p><u>2.4.    Exclusión de garantías y responsabilidad</u><br />
      Salvo  en aquellos casos expresamente descritos en las Condiciones Legales y el resto  del marco normativo del Sitio Web, IMPRIMOYA no se responsabiliza por los daños  y perjuicios de toda naturaleza que puedan deberse a la falta de exactitud,  exhaustividad, actualidad, así como a errores u omisiones de los que pudieran  adolecer las informaciones y servicios contenidos en este Sitio Web u otros  contenidos a los que se pueda acceder a través del mismo ni asume ningún deber  o compromiso de verificar ni de vigilar sus contenidos e informaciones.<br />
      Asimismo,  IMPRIMOYA no garantiza la disponibilidad, continuidad ni la infalibilidad del  funcionamiento del Sitio Web, y en consecuencia, excluye, en la máxima medida  permitida por la legislación vigente, cualquier responsabilidad por los daños y  perjuicios de toda naturaleza que puedan deberse a la falta de disponibilidad o  de continuidad del funcionamiento del Sitio Web y de los servicios habilitados  en el mismo, así como a los errores en el acceso a las distintas páginas web o  aquellas desde las que, en su caso, se presten dichos servicios.<br />
      IMPRIMOYA  no asume responsabilidad alguna por los contenidos, datos y/o información  aportados por los usuarios del Sitio Web, ni tampoco por los contenidos de  sitios web externos a los que existan enlaces. En especial IMPRIMOYA no  garantiza que esos contenidos sean verdaderos, cumplan una determinada  finalidad o puedan servir a esa finalidad.<br />
      IMPRIMOYA  solo pone a disposición de los Usuarios un espacio virtual que les permita  ponerse en comunicación mediante internet con diversos centros de copiado para  adquirir sus servicios de impresión y copiado de acuerdo a sus necesidades.  IMPRIMOYA no es el propietario de los centros de copiado ni de los servicios  ofrecidos por ellos. No interviene en el perfeccionamiento de las operaciones  realizadas entre el Usuario y el centro de copiado ni en las condiciones por  estos estipuladas, por ello no será responsable respecto de la existencia,  calidad, estado, integridad, o legitimidad de los servicios ofrecidos, así como  de la capacidad para contratar de los Usuarios o de la veracidad de los datos  personales por ellos ingresados. <br />
      IMPRIMOYA  no será responsable por el efectivo cumplimiento de las obligaciones asumidas  por los centros de copiado en el perfeccionamiento de la operación. El Usuario  conoce y acepta que al realizar transacciones con los Centros de copiado lo  hace bajo su propio riesgo. En ningún caso, IMPRIMOYA será responsable por  lucro cesante, o por cualquier otro daño y/o perjuicio que haya podido sufrir  el usuario, debido a las operaciones realizadas o no realizadas a través de  IMPRIMOYA. <br />
      En  caso que uno o más Usuarios o algún tercero inicien cualquier tipo de reclamo o  acción legal contra otros Usuarios o centros de copiado, cada una de las partes  involucradas en dichos reclamos o acciones eximen de toda responsabilidad a  IMPRIMOYA y a sus directores, gerentes, empleados, agentes, representantes y  apoderados. <br />
      En  particular, IMPRIMOYA no se responsabiliza por cualquier tipo de errores,  omisiones, fallas o cualquier tipo de incumplimiento por parte de los centros  de copiado disponibles en el sitio. En especial, calidad de impresión, tiempo  de entrega acordado y costos del servicio contratado. En tal sentido, los  servicios son ofrecidos y ejecutados por el centro de copiado elegido por el  usuario y es responsabilidad del mismo el cumplimiento de lo acordado con el  usuario. <br />
      IMPRIMOYA  no se responsabiliza ni garantiza el cumplimiento de las obligaciones que  hubiesen asumido los Usuarios con los centros de copiado en relación a los  pagos a efectuar a través de esta página. El Usuario reconoce y acepta que al  realizar transacciones con los centros de copiado lo hace por su propia  voluntad, prestando su consentimiento libremente y bajo su propio riesgo y  responsabilidad.-<br />
      Asimismo,  IMPRIMOYA no será responsable de las opiniones vertidas por los Usuarios a  través del portal, los foros, u otras herramientas de participación u opinión.<br />
      IMPRIMOYA  no asume ninguna responsabilidad derivada de la existencia de enlaces entre los  contenidos de este sitio y contenidos situados fuera del mismo o de cualquier  otra mención de contenidos externos a este sitio. Tales enlaces o menciones  tienen una finalidad exclusivamente informativa y, en ningún caso, implican el  apoyo, aprobación, comercialización o relación alguna entre IMPRIMOYA y las  personas o entidades autoras y/o gestoras de tales contenidos o titulares de  los sitios donde se encuentren.<br />
      IMPRIMOYA no controla  ni garantiza la ausencia de virus ni de otros elementos en los contenidos que  puedan producir alteraciones en su sistema informático (software y hardware) o  en los documentos electrónicos almacenados en su sistema informático. <br />
      IMPRIMOYA  deslinda cualquier  responsabilidad por los daños y perjuicios de toda naturaleza que puedan  deberse a la presencia de virus o a la presencia de otros elementos en los  contenidos que puedan producir alteraciones en el sistema informático,  documentos electrónicos o de los usuarios de los contenidos.  <br />
      <br />
      <u>2.5.   Alcance de los servicios</u><br />
      El  servicio prestado por IMPRIMOYA, poner a disposición de los Usuarios un sitio  donde puedan seleccionar distintos servicios de copiado e impresión en  diferentes centros de copiado de acuerdo a sus necesidades, no crea ningún  contrato, sociedad, mandato, franquicia o relación laboral entre IMPRIMOYA y el  Usuario. El Usuario reconoce y acepta que IMPRIMOYA es parte en ninguna  operación, ni tiene control alguno sobre la calidad, seguridad o legalidad de los  servicios ofrecidos, la veracidad o exactitud de los anuncios, la capacidad de  los Usuarios.  IMPRIMOYA no puede  asegurar el completo cumplimiento de las obligaciones asumidas por el usuario y  los centros de copiado ni podrá verificar la identidad o datos personales  ingresados por ambos. <br />
      IMPRIMOYA  no garantiza la veracidad de la publicidad de terceros que aparezca en el sitio  y no será responsable por la correspondencia o contratos que el usuario celebre  con dichos terceros o con otros usuarios. 
    <p></p>
    <u>2.6.   Legislación Aplicable y Jurisdicción</u><br />
      Las  presentes Condiciones Legales y el resto de condiciones del sitio web se regirán  por la legislación Argentina. <br />
      Para  cuantas cuestiones pudieran suscitarse o acciones ejercitarse derivadas de la  prestación de los servicios y contenidos de IMPRIMOYA y sobre la  interpretación, aplicación, cumplimiento o incumplimiento de lo aquí  establecido, IMPRIMOYA y el USUARIO, con renuncia expresa a cualquier otro  fuero que pudiera corresponderles, se someten a la jurisdicción de los Tribunales  Nacionales de Primera Instancia en lo Civil de la Capital Federal. 
    <p></p>&nbsp;
              </div>
            </div>
          </div>

    <div class="panel panel-shadow">
                  <header class="panel-heading" style="padding:0 10px">
                  <a data-toggle="collapse" href="#collapse3"><i class="collapse-caret fa fa-angle-down"></i> CONDICIONES GENERALES DE USO DEL SERVICIO  DE FORO</a>
                  </header>
                  <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
      
    <p></p>La  utilización del servicio deberá venir condicionada por la previa aceptación de  las Condiciones Generales de Uso del Servicio de Foro que se recogen en las  Condiciones Legales de IMPRIMOYA.
    <p></p><u>3.1.     Condiciones generales de uso del servicio  de Foros y su aceptación</u><br />
      Las  presentes Condiciones Generales de Uso del Servicio de Foro (en adelante, &ldquo;las  Condiciones de uso del foro&rdquo;) regulan la prestación del servicio de Foro por  parte de IMPRIMOYA así como las condiciones de aceptación y utilización del  servicio de Foro por parte de sus Usuarios.<br />
      La  utilización de este servicio viene condicionada, al llenado previo del  formulario de registro del servicio de Foro del sitio web <a href="http://www.IMPRIMOYA.com">www.IMPRIMOYA.com</a>  así como a la previa aceptación de las  Condiciones Legales. Así, la utilización de algunos de los servicios atribuye  la condición de usuario (en adelante, el &ldquo;Usuario&rdquo;) del servicio de Foro y  expresa la aceptación plena y sin reservas por parte del Usuario de todas y  cada una de las condiciones en la versión publicada por IMPRIMOYA en el momento  mismo en el que el Usuario acceda al servicio.<br />
      La  utilización del servicio de Foro se encuentra sometida igualmente a todos los  avisos, reglamentos de uso e instrucciones puestos en conocimiento del Usuario  por IMPRIMOYA. <br />
      IMPRIMOYA  se reserva la facultad de modificar en cualquier momento las presentes  Condiciones de uso del foro. Las mismas serán aplicables desde el momento en  que se encuentren a disposición de los Usuarios a través del sitio web <a href="http://www.IMPRIMOYA.com">www.IMPRIMOYA.com</a> <br />
      IMPRIMOYA  recomienda visitar cada vez que utilice el servicio de Foro las Condiciones ya  que éstas pueden sufrir modificaciones. <br />
      La  puesta a disposición y el uso del Servicio por parte del Usuario se entenderá,  en todo caso, supeditada al estricto cumplimiento por parte de éste de los  términos recogidos en las presentes Condiciones.<br />
      Si  el Usuario decide no aceptar las Condiciones Legales, y/o, en su caso, las Futuras  Condiciones y comunicaciones que pueda remitirle IMPRIMOYA, deberá abstenerse  de acceder y/o utilizar el servicio de Foro ofrecido.
    <p></p><u>3.2.    Objeto y Descripción del Servicio</u><br />
      El  objeto de las Condiciones es la prestación del servicio de Foro a través de  Internet. Los Usuarios, de forma gratuita y previa validación del nombre de  usuario y contraseña previamente asignados, pueden intercambiar, acceder,  responder a mensajes y, en general, mantener conversaciones con otros Usuarios  del servicio para expresar opiniones e intercambiar impresiones acerca de las  informaciones, promociones y servicios que se hallen contenidos en <a href="http://www.IMPRIMOYA.com">www.IMPRIMOYA.com</a>  a los que se pueda acceder desde el mismo,  así como a cuestiones afines de IMPRIMOYA.
    <p></p><u>3.3.    Acceso al Servicio de Foro</u><br />
      El  acceso al servicio se realizará mediante un nombre de usuario y una contraseña  o clave personal intransferible que serán completados por el Usuario y generados  por IMPRIMOYA quien comunicara por mail al Usuario la habilitación del mismo  una vez recibido el formulario de registro.   El Usuario asume las consecuencias por el quebrantamiento de la  confidencialidad y mal uso de las claves y códigos de acceso.<br />
      El USUARIO no podrá  elegir como Nombre de Usuario o &ldquo;nombre para mostrar&rdquo;, palabras, expresiones o  conjuntos gráfico-denominativos malsonantes, injuriosos, coincidentes con  marcas, nombres comerciales, rótulos de establecimientos, denominaciones  sociales, expresiones publicitarias, expresiones sexuales, nombres y  pseudónimos de personajes de relevancia pública o famosos para cuya utilización  no esté autorizado y, en general, contrarios a la ley o a las exigencias de la  moral y buenas costumbres generalmente aceptadas. <br />
      El Sitio se reserva el derecho a cancelar o suspender aquellos Nombres de  Usuarios que resulten ser contrarios a lo dispuesto anteriormente. <br />
      Podrán acceder libremente a este Servicio las personas de más o exactamente dieciocho  años de edad. En caso de ser menor de dieciocho años de edad, se requerirá el  consentimiento por escrito de los padres o tutores de los menores para poder  acceder al servicio de Foro.
    <p><u>3.4.    Obligaciones de los Usuarios</u><br />
      El  Usuario se compromete a utilizar el servicio de conformidad con la ley, las  presentes Condiciones, las Condiciones Legales del Sitio Web, así como con la  moral y buenas costumbres generalmente aceptadas y el orden público.<br />
      El  Usuario se obliga pues a abstenerse de utilizar el servicio con fines o efectos  ilícitos, contrarios a lo establecido en las presentes Condiciones y  Condiciones Legales del Sitio Web, lesivos de los derechos e intereses de  terceros, o que de cualquier forma puedan dañar, inutilizar, sobrecargar o  deteriorar el servicio o impedir la normal utilización o disfrute del servicio  por parte de otros usuarios. En particular, y a título meramente enunciativo y  no exhaustivo, queda prohibida la transmisión, difusión o puesta a disposición  de terceros a través del servicio, de informaciones, mensajes, gráficos,  archivos de sonido y/o imagen, fotografías, grabaciones, software y, en  general, cualquier clase de material, datos o contenidos que:<br />
      A.  De cualquier forma acosen, acechen, amenacen  o abusen de otros miembros del foro o de cualesquiera terceros ajenos al mismo.<br />
      B.  Incorporen contenidos obscenos o censurables o que puedan herir la sensibilidad  de cualesquiera terceros que puedan acceder a los mismos.<br />
      C.   Difundan contenidos que puedan infringir  o vulnerar los derechos legales de los demás, como material difamatorio o cuyo  contenido infrinja cualesquiera derechos de propiedad intelectual o industrial. <br />
      D.  Induzcan, inciten o promuevan actuaciones, actitudes o ideas discriminatorias  por razón de sexo, raza, religión, creencias, edad o condición<br />
      E.  Incorporen mensajes delictivos, violentos, pornográficos, degradantes o, en  general, contrarios a la ley, a la moral y buenas costumbres generalmente  aceptadas o al orden público.<br />
      F.  Induzcan o puedan inducir a un estado  inaceptable de ansiedad o temor; <br />
      G.  Induzcan o inciten a involucrarse en  prácticas peligrosas, de riesgo o nocivas para la salud y el equilibrio  psíquico; <br />
      H.  Sean falsos, ambiguos, inexactos,  exagerados o extemporáneos, de forma que puedan inducir a error sobre su objeto  o sobre las intenciones o propósitos del comunicante; <br />
      I.  Violen los secretos empresariales de  terceros; <br />
      J.  Sean contrarios al derecho al honor,  a la intimidad personal y familiar o a la propia imagen de las personas.<br />
      K.   Animen a otros a infringir estas  Condiciones, las Condiciones Generales Uso del Sitio Web, y demás Condiciones  Legales contenidas en el Sitio Web <a href="http://www.IMPRIMOYA.com">www.IMPRIMOYA.com</a> <br />
      L.   Se publiquen con la intención de hacerse  pasar por miembros del equipo IMPRIMOYA o por otro usuario a través del uso de  identificación similar o a través de cualquier otro método o dispositivo.<br />
      M.   Se utilicen para fines comerciales,  publicitarios o ilícitos; así como para la transmisión de correo basura, Spam,  cadenas o distribución masiva de mensajes no solicitados.<br />
      N.   Infrinjan la normativa sobre secreto de  las comunicaciones.<br />
      O.  Provoquen por sus características (tales como  formato, extensión, etc.) dificultades en el normal funcionamiento del  Servicio; <br />
      <br />
      Por  su parte, IMPRIMOYA se reserva el derecho de retirar y/o suspender a cualquier  Usuario de los servicios por el incumplimiento de lo dispuesto en las  Condiciones Legales, así como de eliminar, retirar y/o suspender cualquier  mensaje que incorpore información de las características enumeradas en las  letras A a Q, y aún cuando no haya quedado enunciado en las mismas, sin  necesidad de previo aviso o posterior notificación.</p>
    <p></p><u>3.5.    Exención de responsabilidad</u><br />
      Los  mensajes y contenidos manifestados por los Usuarios en el Foro habilitado en  este Sitio Web son sólo la opinión de los remitentes y su contenido es única y  exclusivamente responsabilidad de los mismos. IMPRIMOYA no se hace, en ningún  caso, responsable de los mensajes enviados por sus Usuarios y asimismo excluye  cualquier responsabilidad por los daños y perjuicios de toda naturaleza que  puedan derivar del conocimiento que puedan tener terceros de las condiciones,  características y circunstancias del uso del servicio que hacen los Usuarios o  que pudieran deberse al acceso y, en su caso, a la interceptación, eliminación,  modificación o manipulación por parte de terceros autorizados, o no, de los  mensajes que los Usuarios difundan o pongan a disposición de terceros a través  del servicio de Foro.<br />
      IMPRIMOYA no se hace  responsable y excluye cualquier responsabilidad por los daños y perjuicios de  toda naturaleza que pudieran deberse a la utilización del servicio por parte de  los usuarios o que puedan deberse a la falta de veracidad, vigencia,  exhaustividad y/o autenticidad de la información que los usuarios proporcionan  a otros usuarios acerca de sí mismos y, en particular, aunque no de forma  exclusiva, por los daños y perjuicios de toda naturaleza que puedan deberse a  la suplantación de la personalidad de un tercero efectuada por un usuario en  cualquier clase de comunicación realizada a través del servicio. <br />
      IMPRIMOYA no garantiza la disponibilidad, continuidad ni la infalibilidad del  funcionamiento del servicio, y en consecuencia excluye, en la medida de lo  jurídicamente posible, cualquier responsabilidad por los daños y perjuicios de  toda naturaleza que puedan deberse a la falta de disponibilidad o de  continuidad del funcionamiento del Sitio Web y de los servicios habilitados en  el mismo, así como a los errores en el acceso a las distintas páginas web o a  aquellas desde las que, en su caso, se presten dichos servicios.
    <p></p><u>3.6.    Datos de carácter personal</u><br />
      Como se indica en el  apartado 1 de estas Condiciones del servicio de Foro, el acceso y la  utilización del Foro se condicionan a la previa aceptación de estas Condiciones  Generales de Uso del Servicio de Foro. IMPRIMOYA  garantiza a sus Usuarios que utilizará los  datos dentro de las pautas establecidas por la Ley 25.326 de Protección de los Datos Personales.<br />
      <br />
      En caso de que los datos sean requeridos por la vía legal, administrativa o  judicial correspondiente, IMPRIMOYA se verá compelida a revelar los mismos a la  autoridad solicitante. En la medida en que la legislación y normas de  procedimiento lo permitan, IMPRIMOYA informará a los Usuarios sobre estos  requerimientos.
    <p></p>Asimismo,  el usuario consiente expresamente que las opiniones que manifieste en los foros  de IMPRIMOYA sean encontradas y accesibles a través de los buscadores de  Internet.<br />
      Los  Usuarios garantizan la veracidad, exactitud, vigencia y autenticidad de los  Datos Personales facilitados, y se comprometen a mantenerlos debidamente  actualizados.
    <p></p><u>3.7.    Medidas de Seguridad</u><br />
      Habida  cuenta de que las medidas de seguridad en Internet no son inexpugnables,  respecto a la privacidad y seguridad de la utilización del Servicio de foros, IMPRIMOYA  no garantiza que terceros, autorizados o no, puedan tener conocimiento de la  clase, condiciones, características y circunstancias del uso que los Usuarios  hacen del servicio o que puedan hacer y, en su caso, acceder, interceptar,  eliminar, alterar, modificar o manipular los mensajes y comunicaciones de  cualquier clase que los Usuarios difundan o pongan a disposición de terceros a  través de dicho servicios
    <p></p><u>3.8.    No licencia</u><br />
      IMPRIMOYA  autoriza al usuario registrado en el servicio la utilización de los derechos de  propiedad intelectual e industrial relativos al software que permite la  ejecución de las prestaciones que componen el Servicio únicamente para  utilizarlos según lo establecido en estas Condiciones.<br />
      IMPRIMOYA  no concede ninguna otra licencia o autorización de uso de ninguna clase sobre  sus derechos de propiedad intelectual e industrial o sobre cualquier otra  propiedad o derecho relacionado con el servicio de Foro de este Sitio Web o  sobre los contenidos en la   Declaración de Derechos de Propiedad Intelectual e Industrial  del Sitio Web <a href="http://www.IMPRIMOYA.com">www.IMPRIMOYA.com</a>  que el usuario podrá encontrar en las  Condiciones Legales de IMPRIMOYA. 
    <p><u>3.9.  Notificaciones </u><br />
      Todas  las notificaciones y/o comunicaciones que deban efectuarse por el uso del Sitio  bajo estos Términos y Condiciones, deberán realizarse por escrito: (i) al  Usuario: mediante correo electrónico, a la cuenta de correo consignada por  éste, o por carta documento, al domicilio declarado en el formulario de  registración; (ii) a IMPRIMOYA: a la cuenta de correo electrónico <a href="mailto:notificaciones@IMPRIMOYA.com">notificaciones@IMPRIMOYA.com</a> , o  al domicilio especial constituido consignado en el presente.</p>
    <p><u>3.10.    Legislación aplicable</u><br />
      Las  presentes Condiciones se rigen en todos y cada uno de sus extremos por la ley argentina.<br />
      Los  Usuarios pueden remitir sugerencias o propuestas sobre la mejora de las  distintas informaciones, promociones y/o servicios contenidos y/o habilitados  en el Sitio Web, dirigiéndose al Servicio de Atención al Usuario de IMPRIMOYA,  <a href="http://www.info@IMPRIMOYA.com">www.info@IMPRIMOYA.com</a> <br />
      IMPRIMOYA  recomienda al usuario que imprima las Condiciones del servicio de Foro antes  expuestas y las conserve en su poder.</p>
            </div>
          </div>
        </div>
      <div class="panel panel-shadow">
                  <header class="panel-heading" style="padding:0 10px">
                  <a data-toggle="collapse" href="#collapse4"><i class="collapse-caret fa fa-angle-down"></i> INCLUSION DE BANNERS Y/O MICROSITIOS </a>
                  </header>
                  <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
  
    <p></p><u>4.1  Objeto </u><br />
      Todos  los servicios de inclusión de Banners y/o micrositios, facilitados serán  utilizados únicamente con fines lícitos. Están prohibidos la transmisión  mediante links, o presentación de cualquier información, dato o material que  viole alguna ley local, estatal o federal de la República Argentina.  Eso incluye, sin excluir otros: material copyright, material obsceno, o que  atente contra la moral y las buenas costumbres, material protegido por el  secreto comercial y otros estatutos jurídicos. Quien incluye banners, botones o  enlaces se compromete a asumir total responsabilidad y correr con todos los  gastos e indemnizarnos por cualquier reclamación resultante de un uso de  nuestros servicios que le ocasione daños a quien lo incluye, al Usuario o a  cualquier otra parte.<br />
      La pornografía y  cualquier expresión relacionada con el sexo están prohibidas en todos nuestros  sitios web. Eso incluye todo lo que pueda sugerir o implicar contenido sexual,  o los links (enlaces o vínculos) a otros sitios con tales contenidos. <br />
      IMPRIMOYA&nbsp; será quien determine  las  violaciones de esta norma<br />
      También están  prohibidos los banners o links a sitios que promuevan cualquier actividad  ilegal o presenten contenidos que puedan dañar los servidores de IMPRIMOYA o  cualquier otro servidor de internet. Las expresiones que atenten, o sugieran  ese tipo de contenidos,  o los  redireccionamientos a sitios con tales contenidos también están prohibidos e IMPRIMOYA  se reserva el derecho de, en cualquier momento y sin previo aviso, denegar la  inclusión de Banners, botones o enlaces a este Sitio a quienes incumplan  cualquiera  de estas condiciones 
    <p></p><u>4.2  Ejemplos de contenidos o links inaceptables para los banners o sitios destino  de sus links</u>: <br />
      • Software pirata (inclusive  Juegos)<br />
      • Archivos o programas Hacker <br />
      • Sitios Warez<br />
      • Sitios con contenido pornográfico o sólo para adultos<br />
      • Música ilegal (archivos MP3)<br />
      • Educación falsa o inapropiada, o tendiente a promover grupos rebeldes a la  sociedad.<br />
      • Sitios en cuya práctica se incluya el SPAM como medio de promoción<br />
      • Contenidos de mal gusto o foros con temas inapropiados.<br />
      • Políticas&nbsp;o ideologías que puedan promover falsos ideales y/o que puedan  afectar la paz social de cualquier país.<br />
      IMPRIMOYA  evaluará la información publicada y determinara si constituye una violación de  estos principios.
    <p></p><u>4.3.  Campañas sobre&nbsp;política o causas apolíticas:</u><br />
      En caso de tratarse  de campañas políticas, Instituciones Gubernamentales o No Gubernamentales,  Fundaciones, o movimientos de tipo político o apolítico con causas que pudieran  ser controvertidas, etc. IMPRIMOYA evaluará el mensaje contenido  específicamente en el Banner o micrositio, es decir que en tales casos no  deberá desarrollarse el argumento en el banner o micrositio sino invitarse a  visitar&nbsp;el sitio web de la institución, mediante el link correspondiente,  donde se podrán desarrollar la temática y argumentación del caso, sin ninguna  restricción de nuestra parte. Es decir que la revisión para estos casos se  realiza exclusivamente en Banners y micrositios que sean incluidos en nuestra  red de sitios web.
    <p></p><u>4.4.  Exención de responsabilidades </u><br />
      IMPRIMOYA no se  responsabiliza de ningún daño causado por los servicios que proveemos, y no  damos garantía de ningún tipo sobre cualquier perjuicio causado directa o  indirectamente por los servicios que proveemos. Usted es responsable por el uso  que da a nuestros servicios, y los perjuicios que ello pudiera ocasionar a  otros.
            </div>
          </div>
        </div>
      <div class="panel panel-shadow">
                  <header class="panel-heading" style="padding:0 10px">
                  <a data-toggle="collapse" href="#collapse5"><i class="collapse-caret fa fa-angle-down"></i>  DERECHOS DE PROPIEDAD INTELECTUAL E  INDUSTRIAL</a>
                  </header>
                  <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">
 
    <p></p>Copyright  © 2019<br />
      Quedan  reservados todos los derechos de explotación.
    <p></p>Este  Sitio Web se rige por las leyes argentinas y se encuentra protegido por la  legislación nacional e internacional sobre propiedad intelectual e industrial.
    <p>Los  textos, diseños, imágenes, bases de datos, logos, estructura, marcas y demás  elementos de este sitio propiedad de IMPRIMOYA están protegidos por las leyes y  los tratados internacionales sobre propiedad intelectual e industrial.</p>
    <p>Cualquier  reproducción, transmisión, adaptación, traducción, modificación, comunicación  al público, o cualquier otra explotación de todo o parte del contenido de este  sitio titularidad de IMPRIMOYA, efectuada de cualquier forma o por cualquier  medio, electrónico, mecánico u otro, están estrictamente prohibidos salvo  autorización previa por escrito de IMPRIMOYA o terceros titulares. Cualquier  infracción de estos derechos puede dar lugar a procedimientos extrajudiciales o  judiciales civiles o penales que correspondan. <br />
      La  legitimidad de los derechos de propiedad intelectual o industrial  correspondientes a los contenidos aportados por los usuarios es de la exclusiva  responsabilidad de los mismos.</p>
    <p>A  los efectos de preservar los posibles derechos de propiedad intelectual, en el  caso de que cualquier USUARIO o un tercero considere que se ha producido una  violación de sus legítimos derechos por la introducción de un determinado  contenido en el sitio web, deberá notificar dicha circunstancia, por escrito,  al Sitio IMPRIMOYA, <a href="mailto:info@IMPRIMOYA.com">info@IMPRIMOYA.com</a>  indicando:<br />
      -   Datos de carácter personal identificativos  del interesado titular de los derechos presuntamente infringidos. Si la  reclamación la presenta un tercero distinto del interesado, deberá indicar la  representación que ostenta con la que actúa. <br />
      -    Indicación de los contenidos protegidos por  los derechos de propiedad intelectual y su ubicación en el web. <br />
      -    Acreditación de la existencia, titularidad  y vigencia de los citados derechos de propiedad intelectual. <br />
      -  Declaración expresa en la que el interesado  se responsabilice de la veracidad de los datos e información facilitados en la  notificación a que se refiere este punto. </p>
              </div>
          </div>
        </div>
      <div class="panel panel-shadow">
                  <header class="panel-heading" style="padding:0 10px">
                  <a data-toggle="collapse" href="#collapse6"><i class="collapse-caret fa fa-angle-down"></i>  POLÍTICA DE PROTECCIÓN DE DATOS</a>
                  </header>
                  <div id="collapse6" class="panel-collapse collapse">
                    <div class="panel-body">
 
    <p><u>6.1.    Derecho de información</u><br />
      La  presente política de protección de datos regula el acceso y el uso de los  servicios del sitio web <a href="http://www.IMPRIMOYA.com">www.IMPRIMOYA.com</a>.  (en adelante &ldquo;IMPRIMOYA&rdquo;) que IMPRIMOYA pone de forma gratuita a disposición de  los usuarios de Internet interesados en sus servicios y contenidos (en  adelante, los &ldquo;Usuarios&rdquo;).<br />
      De  conformidad con lo establecido por la   Ley 25.326, IMPRIMOYA como titular del Sitio Web, informa al  usuario de la existencia de ficheros de datos de carácter personal creado por  éste y bajo su responsabilidad.</p>
    <p>IMPRIMOYA  cumple íntegramente con la legislación vigente en materia de protección de  datos de carácter personal, y con los compromisos de confidencialidad propios  de su actividad. <br />
      Si  el usuario decide registrarse en IMPRIMOYA.com (tanto empresa como particular),  se solicitarán los datos estrictamente necesarios para la consecución del fin  al cual está destinado nuestro sitio web, que no es otro que el de facilitar los  servicios de impresión y copiado del usuario con los centros de copiado  adheridos al sitio y publicados en <a href="http://www.IMPRIMOYA.com">www.IMPRIMOYA.com</a>.<br />
      A  tales efectos se requerirá a los usuarios la cumplimentación de un formulario y  la inclusión de sus datos personales. Su tratamiento estará enfocado únicamente  a la consecución de estos fines, siempre dentro del marco normativo  establecido.</p>
    <p><u>6.2.    Finalidad</u><br />
      Los  datos de los usuarios registrados a través del formulario habilitado al efecto  en <a href="http://www.multicorriente.com.ar/">www.IMPRIMOYA.com.ar</a>  son recabados por IMPRIMOYA, con las  siguientes finalidades:<br />
      -Facilitar el acceso y búsqueda de toda la  información relacionada con los servicios de impresión y copiado de archivos.<br />
      -Información  a los demás usuarios sobre los centros de copiado adheridos y servicios  disponible.<br />
      -Participación  en el foro que IMPRIMOYA ofrece a sus Usuarios.<br />
      -Acceso  al Blog de IMPRIMOYA. <br />
      -Proporcionar  a los usuarios un espacio donde puedan desde su PC solicitar impresiones de  acuerdo a sus preferencias, las 24 horas del día, eligiendo donde imprimir, cómo  y cuando el usuario lo requiera.<br />
      -Facilitar  a los usuarios el libre acceso y búsqueda en <a href="http://www.multicorriente.com.ar/">www.IMPRIMOYA.com.ar</a> de promociones,  herramientas, información acerca de trabajos de impresión, centros de copiado,  condiciones para lograr impresiones optimas, métodos de pago.  <br />
      -Facilitar  a los usuarios la valoración y/o comentarios de los servicios.</p>
    <p><u>6.3.    Carácter obligatorio o facultativo de la  información facilitada por el usuario y veracidad de los datos</u><br />
      Los  campos marcados con un asterisco (*) en el formulario de registro a  cumplimentar por el usuario son estrictamente necesarios para atender a su  petición, siendo voluntaria la inclusión de datos en los campos restantes.<br />
      El  Usuario garantiza que los datos personales facilitados a IMPRIMOYA son veraces  y se hace responsable de comunicar cualquier modificación de los mismos.<br />
      El  Usuario garantiza que toda la información de carácter personal que facilite es  exacta y está puesta al día de forma que responde con veracidad a la situación  actual del usuario. Corresponde y es obligación del usuario mantener, en todo  momento, sus datos actualizados, siendo el usuario el único responsable de la  inexactitud o falsedad de los datos facilitados y de los perjuicios que pueda  causar por ello a IMPRIMOYA o a terceros con motivo de la utilización de los  servicios ofrecidos por IMPRIMOYA.</p>
    <p><u>6.4.    Consentimiento del Usuario</u><br />
      Al  completar el formulario y hacer clic para enviar los datos, el usuario  manifiesta haber leído y aceptado expresamente las Condiciones Legales, y  otorga su consentimiento inequívoco y expreso al tratamiento de sus datos  personales conforme a las finalidades informadas y servicios que presta IMPRIMOYA.<br />
      Asimismo,  el Usuario consiente que en el momento de registrarse, su perfil de usuario  será visible públicamente para el resto de usuarios en IMPRIMOYA así como en  los diversos buscadores de Internet. </p>
    <p><u>6.5.    Datos facilitados por menores de edad</u><br />
      Los  mayores de dieciocho años podrán registrarse en <a href="http://www.IMPRIMOYA.com">www.IMPRIMOYA.com</a> como usuarios sin el  previo consentimiento de sus padres o tutores. <br />
      En  el caso de los menores de dieciocho años se requiere el consentimiento de los  padres o tutores para el tratamiento de sus datos personales.</p>
    <p>En  ningún caso se recabaran del menor de edad datos relativos a la situación  profesional, económica o a la intimidad de los otros miembros de la familia,  sin el consentimiento de éstos.</p>
    <p>Si  sos menor de dieciocho años y has accedido a este Sitio Web sin avisar a tus  padres no debes registrarte como usuario.</p>
    <p><u>6.6.    Seguridad</u><br />
      IMPRIMOYA  pone en conocimiento de los usuarios que ha adoptado las medidas de índole  técnica y organizativas reglamentariamente establecidas, que garantizan la  seguridad de los datos de carácter personal y evitan su alteración, pérdida,  tratamiento o acceso no autorizado, habida cuenta del estado de la tecnología,  la naturaleza de los datos almacenados y los riesgos a que estén expuestos. <br />
      <br />
      IMPRIMOYA  no utiliza técnicas de &quot;spamming&quot; y únicamente tratará los datos que  el usuario transmita mediante el formulario electrónico habilitado en este Sitio  web o mensajes de correo electrónico. </p>
    <p><u>6.7.    Derecho de Acceso, Rectificación y  Cancelación de Datos</u><br />
      El  usuario tiene derecho a acceder a esta información, a rectificarla si los datos  son erróneos y a darse de baja de los servicios de IMPRIMOYA.<br />
      Estos  derechos pueden hacerse efectivos mediante la propia configuración de la página  web. En caso de problemas para la realización efectiva online así como para  cualquier tipo de duda o controversia respecto a nuestra política de privacidad  de datos se podrán dirigir directamente a: IMPRIMOYA  Franklin 1102   Piso 5 depto. B, Ciudad de Buenos Aires, Argentina <br />
      O  bien a través de nuestro correo electrónico: <a href="mailto:info@IMPRIMOYA.com">info@IMPRIMOYA.com</a> indicando el asunto de referencia.</p>
    <p><u>6.8.    Modificación de la presente Política de  Protección de Datos</u><br />
      IMPRIMOYA  se reserva el derecho a modificar la presente política para adaptarla a futuras  modificaciones legales. <br />
      <br />
      <u>6.9.  Inactividad en el ejercicio de derechos </u><br />
      La  inactividad de parte de IMPRIMOYA en el ejercicio de cualesquiera de los  derechos que le correspondan, no podrá interpretarse ni constituirá renuncia,  ni parcial ni total de las acciones legales a las cuales tiene derecho.</p>
    <p><u>6.10.    Legislación Aplicable</u><br />
      La  presente Política de Privacidad y el resto de Condiciones Legales del Sitio web  se rigen en todos y cada uno de sus extremos por la ley argentina.</p>
    <p>Condiciones  Legales  Fecha:  Abril de 2012
          </div>
          </div>
        </div>
  
</div>
</div>
<!--Fin Legales-->