@import url('../../../../assets/css/style.css'); 

@import url('../../../../assets/plugins/owl-carousel/owl.carousel.css');
@import url('../../../../assets/plugins/owl-carousel/owl.theme.css');
@import url('../../../../assets/plugins/owl-carousel/owl.transitions.css');
@import url('../../../../assets/plugins/slide/css/settings.css') screen; /* media="screen" */
@import url('../../../../assets/plugins/fancybox/jquery.fancybox.css');

.service-item{
    margin-bottom: 30px	
 }