<!--
Publicite aquí
Denuncias 
Legales
Baja del servicio 
-->
<!--
<footer id="footer">
    <section class="section bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="copyright">&copy; 2014 All rights reserved. <a>IMPRIMOYA!</a></div>
                </div>
                <div class="col-md-6">
                    <ul class="footer-link pull-right">
                        <li>
                            <a class="nav-link" routerLink= "/publicite">Publicite aquí</a>
                        </li>
                         <li>
                            <a class="nav-link" routerLink= "/denuncias">Denuncias</a>
                        </li>
                        <li>
                            <a class="nav-link" routerLink= "/legales">Legales</a>
                        </li>
                        <li>
                            <a class="nav-link" routerLink= "/baja">Baja del servicio</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</footer>

-->
<!-- Footer -->
<footer class="page-footer font-small justify-content-center pt-4">

    <!-- Footer Text -->
    <section class="section bottom justify-content-center align-items-center"> 
        <nav class="navbar navbar-expand-lg navbar-dark text-center bg-dark row h-100 justify-content-center align-items-center">
        
            <div class="row" >
                
               
                   <ul class="navbar-nav ml-auto text-center justify-content-center" >
                        <li>
                            <a class="nav-link " routerLink= "/publicite" >Publicite aquí</a>
                        </li>
                         <li>
                            <a class="nav-link" routerLink= "/denuncias">Denuncias</a>
                        </li>
                        <li>
                            <a class="nav-link" routerLink= "/legales">Legales</a>
                        </li>
                        <li>
                            <a class="nav-link" routerLink= "/baja">Baja del servicio</a>
                        </li>
                    </ul>
               
            </div>
        
        </nav>
    </section>

    <!-- Copyright -->
    <div class="footer-copyright text-center text-secondary py-3 bg-dark">© 2019 Copyright:
      <a href="https:imprimoya.com" class="text-info"> IMPRIMO YA!</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->